body {
  font-family: "Montserrat", sans-serif;
  color: #514f4f;
}

/***** GRID *****/

.full-width {
  width: 1200px;
  margin: 0 auto;
}

.half-width {
  width: 600px;
  float: left;
}

.third-width {
  width: 400px;
  float: left;
}

/***** HEADER *****/

h1 {
  font: 30px;
  text-transform: uppercase;
  line-height: 23px;
}

h1 span {
  color: #77a466;
  text-transform: uppercase;
}

nav {
  float: right;
  line-height: 23px;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  font-size: 14px;
  font-weight: bolder;
  color: #77a466;
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 23px;
}

/***** TOP SECTION *****/

img {
  border: 5px solid #77a466;
}

h2 {
  font-size: 18px;
  color: #77a466;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  line-height: 25px;
  padding-bottom: 25px;
}

ul li {
  font-size: 16px;
  line-height: 24px;
  color: #77a466;
  font-weight: lighter;
  list-style-type: none;
}

/***** BOTTOM SECTION *****/

.third-width {
  width: 360px;
  height: auto;
  float: left;
  padding: 20px;
  border-top: 2px solid #eee;
}

h3 {
  font-size: 12px;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  text-align: left;
}

/***** FOOTER *****/

footer {
  height: 50px;
  width: 1200px;
  border-top: 2px solid #eee;
  margin: 0 auto;
  clear: both;
  text-align: center;
}

footer .full-width span {
  color: #77a466;
  font: 32px;
  font-family: "Allura", cursive;
  text-transform: lowercase;
}
